body {
    margin: 0;

    background-color: beige;
}

.composition {
    width: 650px;
    height: 400px;

    margin: 20px auto;
    background-color: skyblue;

    position: relative;

    overflow: hidden;
}

    /* Elements img */

.road {
    position: absolute;
    bottom: 0;

    z-index: 2;
}

.car {
    position: absolute;
    bottom: 40px;
    right: 50px;

    z-index: 4;
}

    /* TREE */

.tree {
    position: absolute;
    bottom:80px;
    left: 168px;

    z-index: 3;
}

.tree2 {
    position: absolute;
    bottom: 137px;
    left: 123px;

    z-index: 1;
}

.tree3 {
    position: absolute;
    bottom: 153px;
    right: 250px;

    z-index: 1;
}

.tree4 {
    position: absolute;
    bottom: 93px;
    right: 37px;

    z-index: 3;
}

    /* CLOUD */

.cloud {
    position: absolute;
    top: -42px;
    left: -28px;

    z-index: 0;
}

.cloud2 {
    position: absolute;
    top: 18px;
    left: 89px;

    z-index: 0;
}












