body {
    margin: 0;

    background-color: lightgrey;
}

.composition {
    width: 650px;
    height: 400px;

    background-color:deepskyblue;

    margin: 50px auto;
    position: relative;

    overflow: hidden;
}

.road {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.car {
    position: absolute;
    bottom: 35px;
    left: 50px;

    z-index: 4;
}

.tree {
    position: absolute;
    top: 50px;
    left: 10px;

    z-index: 3;
}

.cloud {
    position: absolute;
    top: 14px;
    left: -85px;

    z-index: 2;
}

.cloud2 {
    position: absolute;
    top: 56px;
    right: 165px;

    z-index: 1;
}

.cloud3 {
    position: absolute;
    top: -28px;
    left: 40px;

    z-index: 1;
}
